#margem {
    padding-left: 50px;
    padding-right: 50px;
}

#titulo {
    font-size: 24px;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 90px;
}

.conteudo {
    text-align: justify;
    align-items: center;
    padding-top: 5px;
}

#local-data {
    text-align: right;
    padding-top: 50px;
    padding-bottom: 30px;
}

hr {
    color: black;
    width: 40%;
    border: 1px solid;
}

#setor {
    text-align: center;
}

